*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header{
    background-color: rgba(255, 144, 14, 0.10);
}

.btn_primary{
    border-radius: 5px;
    background: #FF900E;
    width: 140px;
    height: 50px;
    border: none;
   
}
.nav_container{

    
    
    padding: 3em 12.5em;
    display: flex;
    justify-content: space-between;
   
    
}

.menus{
    display: flex;
    gap: 3rem;
}
.menus li{
    list-style: none;
    
}
.menus a{
    text-decoration: none;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 500;
    color: #424242;
}
.logo{
   
    color: #131313;
    font-size: 2.8em;
    font-style: normal;
    font-weight: 700;
}

/* banner */

.banner{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}  
.banner_container{
    max-width: 800px;
    text-align: center;
    /* margin: 0 auto; */

}
.banner_header,.banner_description{

    text-align: center;
    margin-bottom: 20px;
}
.banner_header{

    columns: #131313;
    font-size: 3.7em;
    font-style: normal;
    font-weight: 700;

}
.banner_description{

    color: #727272;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;

}

.banner img {
    
    width: 80%;
  
}
.featured_container{

    display: flex;
    align-items: center;
    padding: 3.1em;

}

/* main{
    max-width: 1400px;
    margin: 0 auto;
} */
/* Featured_Items section */
.featured_images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
   
}
.fatured_texts{

    padding-left: 4.4em;
    padding-right: 4.4em;
}
.feature_header{

    font-size: 2.8em;
    font-style: normal;
    font-weight: 500;
}

#quick_list{

    color: #727272;
}
#of_our{

    color: #131313;
}
#features{

    color: #FF900E;
}
.feature_description{
    margin-top: 10px;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    color: #727272;
}
.btn_feature{
    margin-top: 1.2em;
}
.featured_images img{
    width: 15em;
    height: 12.5em;
}


/* Features you will love & enjoy */

.features_toLove_Container{

    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    padding: 100px;
}

.cards_header{
    color: #131313;
    font-size: 2.8em;
    font-style: normal;
    font-weight: 700;
}

.cards_description{

    color: #727272;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
}

.cards{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 30px 0px;
    padding: 40px 40px;
}
.card_image_Badge img{
    height:1000px;
    width: 600px;
}



.experience_text{
    border-radius: 8px;
    background: #FF900E;
    width: 142px;
    height: 50px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 100px;
    right: 20px;
    padding: 2.5em;
}

.facts_container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 2em;
}
.box_container{
    display: flex;
    justify-content: center;
    gap: 2.5em;
    text-align: center;
    
}
.box{
    
    margin-top: 1.5em;
    border: 2px dotted tomato;
    padding: 1.6em 0.3em;
}

.box_header{
    color: #131313;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}
.box_text{
    color: #727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;    
}

.footer_container{

    margin-top: 3em;
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.footer_header{

    color: #131313;
    margin-bottom: 20px;
    font-size: 2.8em;
    font-style: normal;
    font-weight: 700;
}
.footer_text{

    color: #727272;
    margin-bottom: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;    
}
.social_links_container img{

    margin-right: 30px;
    width: 140.757px;
    height: 40px;
}
@media screen and (max-width:576px) {
    .nav_container{
        flex-direction: column;
        padding: 3em 3.7em;
    }
    .menus{
        margin-top: 20px;
        gap: 10px;
        
    }
    .menus a{

        font-size: 1em;
    }
    .banner_header{
        font-size: 2em;
    }

    .featured_container{
        flex-direction: column-reverse;
    }
    .featured_images {
        /* width: 10em;
        height: 10.5em; */
        grid-template-columns: 1fr;
    }
    .fatured_texts{
        padding-left: 2em;
        padding-right: 2em;
        margin-bottom: 20px;
    }
    .card_image_Badge img{
        display: none;
    }

    .features_toLove_Container{
        background-image: url('../images/architect.png');
        background-repeat: no-repeat;
        background-size:cover;
        padding: 20px;
        margin-top: 50px;
    }

    .features_toLove_Container,.box_container{
        flex-direction: column;
    }
    .experience_text{
        right: 0px;
        padding: 20px;
    }
    .social_links_container img{

        margin-right: 30px;
        width: 60.757px;
        height: 20px;
    }

}